`Pythonista - Saurus Ztrimus`

# Module 1 - Pandas

### First Read `Readme.md` file which covers Prerequisites and Setup for Data Analysis

## Introduction to the problem
In Module 1, you are going to get familiar with pandas, the python module which is used to process and analyse data. Processing could include removing unknown values from the data or replacing unknown values with values which make sense, maybe 0. Analysing the data could include finding out the trend of a stock price, e.g. how the stock price changes with respect to the Nifty 50 basket of stocks.

Please go through the Prerequisite/ reference material suggested for module 1 before attempting the tasks in module 1.
## Resources 

1. [Pandas Udemy](https://rakeshgopal.teachable.com/blog/17849/pandas_python_lecture_notes)
2. [Did you know pandas can do so much?](https://medium.com/fintechexplained/did-you-know-pandas-can-do-so-much-f65dc7db3051)
3. [Pandas | Kaggle](https://www.kaggle.com/learn/pandas)
4. [Pandas | Shane Lynn](https://www.shanelynn.ie/python-pandas-read_csv-load-data-from-csv-files/)
5. [Top 8 resources for learning data analysis with pandas](https://www.dataschool.io/best-python-pandas-resources/)
6. [Video - Complete Python Pandas Data Science Tutorial!](https://www.youtube.com/watch?v=vmEHCJofslg)

## Problem Statements
1. [Query 1.1](#id1)
2. [Query 1.2](#id2)
3. [Query 1.3](#id3)
4. [Query 1.4](#id4)
5. [Query 1.5](#id5)
6. [Query 1.6](#id6)
7. [Query 1.7](#id7)
8. [Query 1.8](#id8)
9. [Query 1.9](#id9)

## Necessary Point to remember
[Basics of Financial Markets](http://www.aspiration.ai/machine-learning/internship/Basics%20of%20Financial%20Markets.pdf)
##### 1. Share:
a share is a ‘part’ of a company which you can buy or sell, IF the company is publicly listed i.e. on a stock exchange.
##### 2. Market Capitalization (Market Cap): 
the total number of shares of a company multiplied by the price of a share.
##### 3. Stocks: 
refer to any arbitrary company. e.g. Akash owns **Stocks**
##### 4. Shares: 
referring to a specific company. e.g Saurabh owns **shares** of Coca-Cola Company
##### 5. Portfolio:
If I have invested in more stocks than 1, let’s say 10 different stocks, then this collection of investment is known as a Portfolio.
##### 6. Market Index:
- identify a few companies to represent the broader markets. 
- So every time someone asks you how the markets are doing, you would just check the general trend of these selected stocks and then give an answer. 
- These companies that you have identified collectively make upthe stock market index.

##### 7. Nifty: 
Nifty is the market index which represents the top 50 companies listed on the NSE(National Stock Exchange)
##### 8. Sensex:
Sensex is the market index which represents the top 30 companies listed on the BSE(Bombay Stock Exchange)
##### 9. Market capitalization:
Market capitalization is the product of total number of shares outstanding in the market, and the price of the stock.
##### 10. Trend:
A term ‘trend’ usually refers to the general market direction, and its associated strength. For example, if the market is declining fast, the trend is said to be bearish. If the market is trading flat with no movement then the trend is said to be sideways.
##### 11. Volume (Total Traded Quantity):
Volumes and its impact on the stock prices is an important concept . Volumes represent the total transactions (both buy and sell put together) for a particular stock on a particular day. For example, on 17thJune 2019, the volume on ACC was 5,33,819 shares.
##### 12. Deliverable Quantity:
All the shares which were not squared off on an intraday basis.
##### 13. Turnover 
Product of total volume traded to the average price of a stock for the day
##### 14. Previous close: 
Previous close is a security's closing price on the preceding day of trading. Previous close can refer to the prior day's value of a stock, bond, commodity, futures or option contract, market index, or any other security.

## <a id='id1'>Query 1.1</a> 
Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe.
Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'.
Analyze and understand each column properly.
You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.

In [1]:
# Importing necessary packages
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

#### 1.1.1 importing CSV file using `pd.read_csv()`

In [2]:
stock_data = pd.read_csv('dataset3.csv')
stock_data.head(4)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MUTHOOTFIN,EQ,15-May-2017,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50
1,MUTHOOTFIN,NB,15-May-2017,1750.00,1750.00,1750.00,1750.00,1750.00,1750.00,1750.00,50,8.750000e+04,1,50,100.00
2,MUTHOOTFIN,EQ,16-May-2017,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62
3,MUTHOOTFIN,N9,16-May-2017,1015.97,1010.00,1010.00,1010.00,1010.00,1010.00,1010.00,11,1.111000e+04,1,11,100.00

#### 1.1.2 Check whether csv file has data on more than one category.

- checking for the ‘Date’ column will have repeating values.

In [3]:
# Categories in Series column
stock_data.Series.unique()

array(['EQ', 'NB', 'N9', 'NC', 'NF', nan, 'NG', 'ND'], dtype=object)

In [4]:
# All rows where Series have 'BL' category
stock_data[stock_data.Series == 'BL']

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

**Means `Series` column have data on more than one category.**<br>
**Let's remove all the rows where `'Series'` column is NOT 'EQ', To avoid repetitions in the `date`.**

#### 1.1.3 Remove all the rows where 'Series' column is NOT 'EQ'.

In [5]:
# Taking all rows which have 'EQ' in Series columns
stock_data = stock_data[stock_data.Series == 'EQ']

# To ensure only category in Series Columns
stock_data.Series.unique()

array(['EQ'], dtype=object)

#### 1.1.4 Analyze and understand `stock_data` DataFrame properly.

In [7]:
# Checking Last 4 Rows
stock_data.tail(4)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
183,MUTHOOTFIN,EQ,26-Jul-2017,465.95,468.90,483.40,467.00,476.15,477.65,477.30,1687894,8.056326e+08,29027,436136,25.84
188,MUTHOOTFIN,EQ,27-Jul-2017,477.65,481.95,481.95,462.65,466.00,465.35,471.58,947528,4.468381e+08,13873,372516,39.31
194,MUTHOOTFIN,EQ,28-Jul-2017,465.35,465.00,474.75,462.30,467.15,467.50,469.82,568445,2.670663e+08,9890,51096,8.99
198,MUTHOOTFIN,EQ,31-Jul-2017,467.50,468.00,480.00,467.80,474.60,474.15,473.95,889969,4.217998e+08,10929,304049,34.16

In [8]:
# Checking First 5 Rows
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MUTHOOTFIN,EQ,15-May-2017,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50
2,MUTHOOTFIN,EQ,16-May-2017,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62
6,MUTHOOTFIN,EQ,17-May-2017,394.80,396.90,398.00,392.60,394.10,395.15,394.90,311597,1.230481e+08,6512,116484,37.38
8,MUTHOOTFIN,EQ,18-May-2017,395.15,393.00,395.45,375.10,378.85,379.20,386.45,646434,2.498119e+08,11171,238171,36.84
10,MUTHOOTFIN,EQ,19-May-2017,379.20,395.00,400.90,357.45,381.00,379.15,382.13,3211995,1.227389e+09,42906,1193472,37.16

In [9]:
# Generates descriptive statistics of stock_data
stock_data.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,5.500000e+01,5.500000e+01,55.000000,5.500000e+01,55.000000
mean,438.600909,440.264545,447.623636,432.609091,440.110000,440.118182,440.981818,7.731423e+05,3.381057e+08,14768.836364,2.960156e+05,36.942000
std,31.309577,30.830716,30.787009,31.452285,30.906762,30.965411,30.737332,5.304414e+05,2.196094e+08,7745.796047,2.597386e+05,12.599793
min,379.150000,382.100000,389.750000,357.450000,378.850000,379.150000,382.130000,6.596000e+04,2.971503e+07,1324.000000,3.014400e+04,8.990000
25%,411.300000,413.650000,424.975000,406.025000,418.975000,418.750000,415.515000,4.121265e+05,1.882909e+08,9590.000000,1.341420e+05,29.335000
50%,449.450000,450.750000,458.000000,445.200000,450.500000,449.500000,450.730000,5.809790e+05,2.511440e+08,13813.000000,2.091330e+05,35.810000
75%,464.750000,465.000000,472.400000,456.475000,465.550000,465.075000,464.140000,9.540045e+05,4.343190e+08,18781.000000,3.647800e+05,43.005000
max,477.650000,481.950000,483.400000,470.250000,476.150000,477.650000,477.300000,3.211995e+06,1.227389e+09,42906.000000,1.424301e+06,82.150000

## <a id='id2'>Query 1.2</a> 
Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [10]:
last_90_days = stock_data.tail(90)
price = last_90_days['Close Price']
max_min_mean = price.apply(['max', 'min', 'mean'])
max_min_mean

max     477.650000
min     379.150000
mean    440.118182
Name: Close Price, dtype: float64

 - **`tail(90)` - Gives last 90 rows which equivalent to last 90 days**.
 - **`['Close Price']` - For selecting Cloumn "Closing Price"**.
 - **`.apply()` - Use to apply different function on Column "Close Price"**.

In [11]:
# Optimized way
stock_data.tail(90)['Close Price'].apply(['max', 'min', 'mean'])

max     477.650000
min     379.150000
mean    440.118182
Name: Close Price, dtype: float64

## <a id='id3'>Query 1.3</a> 
Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

#### 1.3.1 Analyse the data types for each column of the "stock_data"

In [12]:
#### 1.3.1 Analyse the data types for each column of the "stock_data"
stock_data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

#### 1.3.2 Changing the `date` column from 'object' type to 'datetime64(ns)'

In [13]:
# Date type of "Date" column in stock_data
stock_data.Date.dtypes

dtype('O')

In [14]:
# Showing dtype('O') is Object type
np.dtype('O') == np.dtype('object')

True

In [15]:
# Changing the `date` column from 'object' type to 'datetime64(ns)' 
# stock_data.Date  = pd.to_datetime(stock_data.Date)
stock_data['Date'] = pd.to_datetime(stock_data['Date'], format='%d-%b-%Y')

In [16]:
# Check datatype of Date column
stock_data.Date.dtype

dtype('<M8[ns]')

In [17]:
# Showing dtype('<M8[ns]') is datetime64[ns] type
np.dtype('<M8[ns]') == np.dtype('datetime64[ns]')

True

In [18]:
# Checking Changed Datatypes
stock_data.dtypes

Symbol                            object
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [54]:
# Checking First 3 Rows
stock_data.head(3)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trend
0,MUTHOOTFIN,EQ,2017-05-15,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50,2017,5,0.000000,Slight or No change
2,MUTHOOTFIN,EQ,2017-05-16,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62,2017,5,0.598802,Slight positive
6,MUTHOOTFIN,EQ,2017-05-17,394.80,396.90,398.00,392.60,394.10,395.15,394.90,311597,1.230481e+08,6512,116484,37.38,2017,5,0.088652,Slight or No change

#### 1.3.3 subtract the minimum value of the date column from the maximum value.

- It will show total days between maximum and minimum of `Date` column.

In [20]:
stock_data.Date.max() - stock_data.Date.min()

Timedelta('77 days 00:00:00')

## <a id='id4'>Query 1.4</a> 
In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock.<br>
( VWAP = sum(price*volume)/sum(volume) )<br>
To know more about VWAP , visit - [VWAP definition](https://www.investopedia.com/terms/v/vwap.asp)<br>
{Hint : Create a new dataframe column ‘Month’. The values for this column can be derived from the ‘Date” column by using appropriate pandas functions. Similarly, create a column ‘Year’ and initialize it. Then use the 'groupby()' function by month and year. Finally, calculate the vwap value for each month (i.e. for each group created).

In [21]:
# Create a new column ‘Year' in stock_data Dataframe
stock_data['Year'] = pd.DatetimeIndex(stock_data.Date).year

In [22]:
# Create a new column ‘Month' in stock_data Dataframe
stock_data['Month'] = pd.DatetimeIndex(stock_data.Date).month

#### Here
- ####  "`Total Traded Quantity`" => Volume
- #### "`Average Price`" => Price
- #### "`Turnover`" => Price * Volume

    - Product of total volume traded to the average price of a stock for the day.

In [55]:
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trend
0,MUTHOOTFIN,EQ,2017-05-15,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50,2017,5,0.000000,Slight or No change
2,MUTHOOTFIN,EQ,2017-05-16,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62,2017,5,0.598802,Slight positive
6,MUTHOOTFIN,EQ,2017-05-17,394.80,396.90,398.00,392.60,394.10,395.15,394.90,311597,1.230481e+08,6512,116484,37.38,2017,5,0.088652,Slight or No change
8,MUTHOOTFIN,EQ,2017-05-18,395.15,393.00,395.45,375.10,378.85,379.20,386.45,646434,2.498119e+08,11171,238171,36.84,2017,5,-4.036442,Among top losers
10,MUTHOOTFIN,EQ,2017-05-19,379.20,395.00,400.90,357.45,381.00,379.15,382.13,3211995,1.227389e+09,42906,1193472,37.16,2017,5,-0.013186,Slight or No change

<h4 align=center>Let implement VWAP formula</h4>

$$VWAP= \frac{\sum_{}price*volume}{\sum_{}volume}$$

$$VWAP= \frac{\sum_{}Turnover}{\sum_{}Total Traded Quantity}$$

In [56]:
# VWAP_numerator
VWAP_numerator = stock_data.groupby(by=['Year', 'Month']).Turnover.sum()

In [57]:
# VWAP_denominator
VWAP_denominator = stock_data.groupby(by=['Year', 'Month'])["Total Traded Quantity"].sum()

In [58]:
VWAP_monthwise = VWAP_numerator / VWAP_denominator
VWAP_monthwise

Year  Month
2017  5        390.089022
      6        447.304725
      7        466.178509
dtype: float64

## <a id='id5'>Query 1.5</a> 
Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.<br>
Calculate the average price AND the profit/loss percentages over the course of last -<br>
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.<br>
{Note : Profit/Loss percentage between N days is the percentage change between the closing prices of the 2 days }

#### 1.5.1 Writing a function to calculate the average price over the last N days of the stock price data

In [27]:
def last_N_days_avg_price(dataframe, N):
    """Help on method last_N_days_avg_price:
    
    last_N_days_avg_price(dataframe=None, N=None)
    This function returns the average price over the last N days of the stock price data.
    
    Parameters
    ----------
    dataframe : Dataset or Dataframe of type pd.DataFrame.
    N : Number of days (last N days).
    
    Returns
    -------
    float64 object
    
    Examples
    --------
    >>> last_N_days_avg_price(stock_dataframe, 23)
    734.2352173913043    
    """
    return dataframe.tail(N)["Average Price"].mean()

In [28]:
last_N_days_avg_price(stock_data, 45)

452.2844444444445

#### 1.5.2 Write a second function to calculate the profit/loss percentage over the last N days.

$$Profit / Loss Percentage= \frac{Close Price - Prev Close}{Prev Close}*100$$
<br>
<center># Positive Value shows Profit Percentage</center>
<center># Negative Value shows Loss Percentage</center>

In [29]:
def last_N_days_profit_loss_percentage(dataframe, N):
    """Help on method last_N_days_profit_loss_percentage:
    
    last_N_days_profit_loss_percentage(dataframe=None, N=None)
    This function returns  the profit/loss percentage over the last N days of the stock price data.
    If return is positive value, that is ``Profit Percentage``.
    If return is Negative value, that is ``Loss Percentage``.
    
    Parameters
    ----------
    dataframe : Dataset or Dataframe of type pd.DataFrame.
    N : Number of days (last N days).
    
    Returns
    -------
    Positive Value shows Profit Percentage.
    Negative Value shows Loss Percentage.
    float64 object
    
    Examples
    --------
    >>> last_N_days_profit_loss_percentage(stock_data,N=5)
    -0.6693809951003947
    """
    return ((dataframe["Close Price"].iloc[-1] - dataframe["Close Price"].iloc[-N])/dataframe["Close Price"].iloc[-N])*100

In [30]:
# profit/loss percentage over the last N days.
last_N_days_profit_loss_percentage(stock_data,N=3)

1.8910497475018704

#### 1.5.3 Calculate the Average Price over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [31]:
def avg_price(dataframe, days=None, weeks=None, months=None, years=None):
    """Help on method avg_price:
    
    avg_price(dataframe, days=None, weeks=None, months=None, years=None)
    This function returns the average price over the last N days, weeks, months and years of the stock price data.
    
    Parameters
    ----------
    dataframe : Dataset or Dataframe of type pd.DataFrame.
    days : Number of days (last N days).
    weeks : Number of weeks (last N weeks).
    months : Number of months (last N months).
    years : Number of years (last N years).
    
    Returns
    -------
    float64 object
    
    Examples
    --------
    >>> last_N_days_avg_price(stock_dataframe, days=23)
    Average Price For 23 days. 
    ----------
    734.2352173913043 
    
    >>> avg_price(stock_data, weeks=1)
    Average Price For 1 week. 
    ----------
    721.722
    """
    if days:
        print("Average Price For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_avg_price(dataframe, days)
    
    elif weeks:
        print("Average Price For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_avg_price(dataframe, day)
    
    elif months:
        print("Average Price For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_avg_price(dataframe, day)
        
    elif years:
        print("Average Price For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_avg_price(dataframe, day)

In [32]:
# 1 week
avg_price(stock_data, weeks=1)

Average Price For 1 week.
 ----------

471.22799999999995

In [33]:
# 2 week
avg_price(stock_data, weeks=2)

Average Price For 2 weeks.
 ----------

468.128

In [34]:
# 1 month
avg_price(stock_data, months=1)

Average Price For 1 month.
 ----------

462.68333333333334

In [35]:
# 3 months
avg_price(stock_data, months=3)

Average Price For 3 months.
 ----------

440.98181818181826

In [36]:
# 6 months
avg_price(stock_data, months=6)

Average Price For 6 months.
 ----------

440.98181818181826

In [37]:
# 1 year
avg_price(stock_data, years=1)

Average Price For 1 year.
 ----------

440.98181818181826

#### 1.5.4 Calculate the Profit/Loss Percentages over the course of last :
- 1 week, 
- 2 weeks, 
- 1 month, 
- 3 months, 
- 6 months,
- 1 year.

In [38]:
def profit_loss_percentage(dataframe, days=None, weeks=None, months=None, years=None):
    """Help on method profit_loss_percentage:
    
    profit_loss_percentage(dataframe, days=None, weeks=None, months=None, years=None)
    This function returns  the profit/loss percentage over the last N days, weeks, months and years of the stock price data.
    If return is positive value, that is ``Profit Percentage``.
    If return is Negative value, that is ``Loss Percentage``.
    
    Parameters
    ----------
    dataframe : Dataset or Dataframe of type pd.DataFrame.
    days : Number of days (last N days).
    weeks : Number of weeks (last N weeks).
    months : Number of months (last N months).
    years : Number of years (last N years).
    
    Returns
    -------
    Positive Value shows Profit Percentage.
    Negative Value shows Loss Percentage.
    float64 object
    
    Examples
    --------
    >>> profit_loss_percentage(stock_data,days=3)
    -0.18722696068232567

    >>> profit_loss_percentage(stock_data,weeks=1)
    -0.6693809951003947
    """
    if days:
        print("Profit/Loss Percentage For",days,"day." if days==1 else "days.","\n",'-'*10)
        return last_N_days_profit_loss_percentage(dataframe, days)
    
    elif weeks:
        print("Profit/Loss Percentage For",weeks,"week." if weeks==1 else "weeks.","\n",'-'*10)
        day = weeks * 5
        return last_N_days_profit_loss_percentage(dataframe, day)
    
    elif months:
        print("Profit/Loss Percentage For",months,"month." if months==1 else "months.","\n",'-'*10)
        day = months * 21
        return last_N_days_profit_loss_percentage(dataframe, day)
        
    elif years:
        print("Profit/Loss Percentage For",years,"year." if years==1 else "years.","\n",'-'*10)
        day = years * 252
        return last_N_days_profit_loss_percentage(dataframe, day)

In [39]:
# 1 week
profit_loss_percentage(stock_data, weeks=1)

Profit/Loss Percentage For 1 week.
 ----------

1.7598454769825065

In [40]:
# 2 weeks
profit_loss_percentage(stock_data, weeks=2)

Profit/Loss Percentage For 2 weeks.
 ----------

1.1196417146513116

In [41]:
# 1 month
profit_loss_percentage(stock_data, months=1)

Profit/Loss Percentage For 1 month.
 ----------

3.854999452414843

In [42]:
# 3 months
profit_loss_percentage(stock_data, months=3)

Profit/Loss Percentage For 3 months.
 ----------

IndexError: single positional indexer is out-of-bounds

In [43]:
# 6 months
profit_loss_percentage(stock_data, months=6)

Profit/Loss Percentage For 6 months.
 ----------

IndexError: single positional indexer is out-of-bounds

In [44]:
# 1 year
profit_loss_percentage(stock_data, years=1)

Profit/Loss Percentage For 1 year.
 ----------

IndexError: single positional indexer is out-of-bounds

## <a id='id6'>Query 1.6</a> 
Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [45]:
# calculate Day Percentage Change and fill NaN with value 0.00
stock_data["Day_Perc_Change"] = stock_data["Close Price"].pct_change().fillna(value=0)*100
stock_data.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change
0,MUTHOOTFIN,EQ,2017-05-15,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50,2017,5,0.000000
2,MUTHOOTFIN,EQ,2017-05-16,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62,2017,5,0.598802
6,MUTHOOTFIN,EQ,2017-05-17,394.80,396.90,398.00,392.60,394.10,395.15,394.90,311597,1.230481e+08,6512,116484,37.38,2017,5,0.088652
8,MUTHOOTFIN,EQ,2017-05-18,395.15,393.00,395.45,375.10,378.85,379.20,386.45,646434,2.498119e+08,11171,238171,36.84,2017,5,-4.036442
10,MUTHOOTFIN,EQ,2017-05-19,379.20,395.00,400.90,357.45,381.00,379.15,382.13,3211995,1.227389e+09,42906,1193472,37.16,2017,5,-0.013186
12,MUTHOOTFIN,EQ,2017-05-22,379.15,382.10,393.95,380.80,386.00,385.45,386.04,1733876,6.693403e+08,19865,1424301,82.15,2017,5,1.661611
16,MUTHOOTFIN,EQ,2017-05-23,385.45,386.65,389.75,372.05,381.70,382.85,383.44,915259,3.509510e+08,34400,453098,49.50,2017,5,-0.674536
19,MUTHOOTFIN,EQ,2017-05-24,382.85,384.00,395.40,383.50,387.00,386.05,388.48,760640,2.954940e+08,16850,311133,40.90,2017,5,0.835836
21,MUTHOOTFIN,EQ,2017-05-25,386.05,389.80,393.40,386.85,389.50,389.40,390.29,580979,2.267494e+08,15465,361210,62.17,2017,5,0.867763
25,MUTHOOTFIN,EQ,2017-05-26,389.40,393.95,403.40,389.45,399.00,398.90,398.08,891020,3.546988e+08,18982,407907,45.78,2017,5,2.439651

## <a id='id7'>Query 1.7</a> 
Add another column 'Trend' whose values are:

- **'Slight or No change'** for 'Day_Perc_Change' in between -0.5 and 0.5
- **'Slight positive'** for 'Day_Perc_Change' in between 0.5 and 1
- **'Slight negative'** for 'Day_Perc_Change' in between -0.5 and -1
- **'Positive'** for 'Day_Perc_Change' in between 1 and 3
- **'Negative'** for 'Day_Perc_Change' in between -1 and -3
- **'Among top gainers'** for 'Day_Perc_Change' in between 3 and 7
- **'Among top losers'** for 'Day_Perc_Change' in between -3 and -7
- **'Bull run'** for 'Day_Perc_Change' >7
- **'Bear drop'** for 'Day_Perc_Change' <-7

In [46]:
Category_bins = [-np.inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, np.inf]
Category_bins

[-inf, -7, -3, -1, -0.5, 0.5, 1, 3, 7, inf]

In [48]:
Category_labels = ['Bear drop','Among top losers','Negative','Slight negative','Slight or No change','Slight positive','Positive','Among top gainers','Bull run']
Category_labels

['Bear drop',
 'Among top losers',
 'Negative',
 'Slight negative',
 'Slight or No change',
 'Slight positive',
 'Positive',
 'Among top gainers',
 'Bull run']

In [49]:
stock_data['Trend'] = pd.cut(stock_data.Day_Perc_Change, bins=Category_bins, labels=Category_labels, include_lowest=True)
stock_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,Day_Perc_Change,Trend
0,MUTHOOTFIN,EQ,2017-05-15,390.70,391.00,396.50,388.50,393.00,392.45,393.38,385865,1.517907e+08,6893,63660,16.50,2017,5,0.000000,Slight or No change
2,MUTHOOTFIN,EQ,2017-05-16,392.45,393.65,400.95,393.25,393.45,394.80,398.01,514200,2.046578e+08,9938,100880,19.62,2017,5,0.598802,Slight positive
6,MUTHOOTFIN,EQ,2017-05-17,394.80,396.90,398.00,392.60,394.10,395.15,394.90,311597,1.230481e+08,6512,116484,37.38,2017,5,0.088652,Slight or No change
8,MUTHOOTFIN,EQ,2017-05-18,395.15,393.00,395.45,375.10,378.85,379.20,386.45,646434,2.498119e+08,11171,238171,36.84,2017,5,-4.036442,Among top losers
10,MUTHOOTFIN,EQ,2017-05-19,379.20,395.00,400.90,357.45,381.00,379.15,382.13,3211995,1.227389e+09,42906,1193472,37.16,2017,5,-0.013186,Slight or No change

In [50]:
# Print the first 10 values with only "Day_Perc_Change" and "Trend" columns
stock_data.iloc[:10, -2:]

    Day_Perc_Change                Trend
0          0.000000  Slight or No change
2          0.598802      Slight positive
6          0.088652  Slight or No change
8         -4.036442     Among top losers
10        -0.013186  Slight or No change
12         1.661611             Positive
16        -0.674536      Slight negative
19         0.835836      Slight positive
21         0.867763      Slight positive
25         2.439651             Positive

## <a id='id8'>Query 1.8</a> 
Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.<br>
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [51]:
avg_median_trendwise = stock_data.groupby(by="Trend")["Total Traded Quantity"].agg(['mean','median']).rename(columns={'mean':'average'})
avg_median_trendwise

                          average     median
Trend
Bear drop                     NaN        NaN
Among top losers     6.464340e+05   646434.0
Negative             4.779779e+05   469608.0
Slight negative      6.369736e+05   655299.0
Slight or No change  7.384137e+05   488523.0
Slight positive      7.525700e+05   580979.0
Positive             1.037597e+06   891020.0
Among top gainers    1.146290e+06  1184619.5
Bull run                      NaN        NaN

## <a id='id9'>Query 1.9</a> 
SAVE the dataframe with the additional columns computed as a csv file week2.csv. In Module 2, you are going to get familiar with matplotlib, the python module which is used to visualize data.

In [53]:
# Save the dataframe as "muthfin2.csv" file
# stock_data.to_csv('./muthfin2.csv')
stock_data.to_csv('./muthfin2.csv')